body {
    text-align: center;
    font-family: 'PT Sans'; sans-serif;
    overflow-y: scroll;
}

h1 div {
    position: absolute;
    left: 10px;
}

h5 {
    font-size: small;
    margin-top: -20px;
}

.tooltip {
    color: #444;
}

#menu {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#menu td {
    min-width: 300px;
}

table {
    text-align: center;
    font-size: 14px;
    margin: auto;
}

#main-table > tbody > td, th {
    padding: 5px;
    min-width: 200px;
}

#main-table {
    line-height: 2em;
}

#main-table > tbody > tr:nth-child(even) {
    background-color: #9e9;
}

#main-table > tbody > tr:nth-child(odd) {
    background-color: #6c6;
}

.intermediate-station {
    width: 200px;
}

.arrow-button {
    min-width: 50px;
}

th {
    background-color: #0076c8;
    color: #fff;
    font-weight: normal;
}

th:empty {
    background-color: #fff;
}

.normal {
    background-color: #96fe9e;
}

.minor {
    background-color: #fffd52;
}

.moderate {
    background-color: #ffb452;
}

.critical {
    background-color: red;
}

#footer {
    font-size: small;
    text-align: left;
}

.date {
    font-size: 20px;
}

.message {
    margin: 15px;
}

hr {
    margin-top: 20px;
    margin-bottom: -10px;
}

label {
    margin: 1ex;
}
