body {
    line-height: 2em;
    text-align: justify;
}

h1 {
    text-align: center;
}

span {
    margin: 5px;
}

table {
    table-layout: fixed;
    width: 300px;
    text-align: center;
    font-size: 14px;
    margin: auto;
}

td, th {
    padding: 5px;
    width: 200px;
}

th {
    background-color: #aaa;
}

th:empty {
    background-color: #fff;
}

.normal {
    background-color: #96fe9e;
}

.minor {
    background-color: #fffd52;
}

.moderate {
    background-color: #ffb452;
}

.critical {
    background-color: red;
}

.timestamp {
    font-style: italic;
}

#footer {
    font-size: small;
}

#main {
    line-height: 2em;
}

#main tr:nth-child(even) {
    background-color: #9e9;
}

#main tr:nth-child(odd) {
    background-color: #6c6;
}
