body {
    text-align: center;
    font-family: 'PT Sans'; sans-serif;
}

h5 {
    font-size: small;
    font-style: italic;
    margin-top: -20px;
}

table {
    table-layout: fixed;
    width: 300px;
    text-align: center;
    font-size: 14px;
    margin: auto;
}

td, th {
    padding: 5px;
    width: 200px;
}

th {
    background-color: #0076c8;
    color: #fff;
    font-weight: normal;
}

th:empty {
    background-color: #fff;
}

.normal {
    background-color: #96fe9e;
}

.minor {
    background-color: #fffd52;
}

.moderate {
    background-color: #ffb452;
}

.critical {
    background-color: red;
}

#footer {
    font-size: small;
    text-align: left;
}

#main {
    line-height: 2em;
}

#main tr:nth-child(even) {
    background-color: #9e9;
}

#main tr:nth-child(odd) {
    background-color: #6c6;
}

.date {
    font-size: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: -10px;
}
